extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out

      
    .container
      #errorAlert
        .alert.alert-danger(role='alert')
          span#errorMessage
          
      - var complete = 0
      - var incomplete = 0
    
      if todaysDate != currentWeek[0]
          a(href='/display/#{todaysDate}')
            p.text-center Jump to this week
      else
        p.text-center Current Week
        
        
      a.left-arrow(href='/display/#{currentWeek[1]}') <
      a.right-arrow(href='/display/#{currentWeek[2]}') >
        
      h2.text-center #{calendar[0]} - #{calendar[6]}
      h3.plus.text-center
        a(href='/maker') &#x271A
        
        
      each day in calendar
          - var currentDate = ""
          if tasks.length == 0
            .panel.panel-default
                    .panel-heading
                      h3.panel-title No Tasks
          each t in tasks
            if t.completed == false && t.date == day
                - incomplete++
                if currentDate == "" || currentDate != t.date
                  - currentDate = t.date
                  .panel.panel-default
                    .panel-heading
                      h3.panel-title #{t.date}
                    ul.list-group    
                li.list-group-item(id=t._id)
                  span.check
                    a(href="/checkTask/#{t._id}") &#x2714
                  span.badge #{t.importance}
                  h4.list-group-item-heading #{t.name}
                  span.icons
                    span.delete
                      a(href="/removeTask/#{t._id}") &#x2716
                    span.edit
                      a(href="/editTask/#{t._id}") &#x270E

      
      h3.text-center Pending Tasks: #{incomplete}
      
      br
      br
      
      a.buttonlink(href='/completedTasks')
        button.btn.btn-default.center-block(type='submit')  View completed tasks
      

block scripts
  script(src="/assets/maker.js")
  
  
