extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out

      
    .container
      #errorAlert
        .alert.alert-danger(role='alert')
          span#errorMessage
          
      - var incomplete = 0
    
      if todaysDate != currentWeek[0]
          a(href='/display/#{todaysDate}')
            p.text-center Jump to today
      else
        p.text-center Today
        
        
      a.left-arrow(href='/display/#{currentWeek[1]}') <
      a.right-arrow(href='/display/#{currentWeek[2]}') >
        
      h2.text-center #{calendar[0]} - #{calendar[6]}
      h3.plus.text-center
        a(href='/maker') &#x271A
        
      .row
        .col-md-8.col-md-offset-2
          each day in calendar
            - var currentDate = ""
            each t in tasks
              if t.date == day
                  if currentDate == "" || currentDate != t.date
                    - currentDate = t.date
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title #{t.date}
                      ul.list-group    
                  li.list-group-item(id=t._id)
                    if t.completed == false
                      - incomplete++
                      div.icons
                        a.delete(href="/removeTask/#{t._id}") &#x2716
                        a.edit(href="/editTask/#{t._id}") &#x270E
                      span.check
                        a(href="/checkTask/#{t._id}") &#x2714
                      span.badge #{t.importance}
                      h4.list-group-item-heading #{t.name}
                    else
                      div.icons
                      span.check &#x279C
                      span.badge.gray #{t.importance}
                      h4.list-group-item-heading.strike #{t.name}

      
      h3.text-center Pending Tasks: #{incomplete}
      
      br
      br
      
      a.buttonlink(href='/completedTasks')
        button.btn.btn-default.center-block(type='submit')  View completed tasks
      

block scripts
  script(src="/assets/maker.js")
  
  
