extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out

      
    .container
      #errorAlert
        .alert.alert-danger(role='alert')
          span#errorMessage
          
      - var complete = 0
      - var incomplete = 0
    
      h1.text-center 
        a(href='/maker') + Add Task
        
        
      - var currentDate = ""
      .panel.panel-default
        each t in tasks
          if t.completed == false
            - incomplete++
            if currentDate == "" || currentDate != t.date
              - currentDate = t.date
                .panel-heading
                  h3.panel-title #{t.date}
            ul.list-group    
              li.list-group-item(id=t._id)
                span.delete
                  a(href="/removeTask/#{t._id}") x
                span.edit
                  a(href="/editTask/#{t._id}") edit
                span.edit
                  a(href="/checkTask/#{t._id}") check
                span.badge #{t.importance}
                h4.list-group-item-heading #{t.name}
      
      h3.text-center Total Tasks Remaining: #{incomplete}
      
      .panel.panel-default
        .panel-heading
          h3.panel-title Total Tasks Completed: #{complete}
        ul.list-group    
          li.list-group-item
            each completedTask in tasks
              if completedTask.completed == true
                - complete++
                h4.list-group-item-heading #{completedTask.name}
      

block scripts
  script(src="/assets/maker.js")
  
  
