extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out

      
    .container
      #errorAlert
        .alert.alert-danger(role='alert')
          span#errorMessage
      h1.text-center 
        a(href='/maker') + Add Task
      .panel.panel-default
        if !tasks || tasks.length == 0
          .panel-body
            ul.list-group
              h4 No Tasks
        else
          .panel-heading
            h3.panel-title Date Here
          .panel-body
            ul.list-group
              each val in tasks
                li.list-group-item(id=val.id)
                    span.delete
                      //-button.btn.btn-default.removeTaskSubmit(type='submit') x
                      a(href="/removeTask/#{val.id}") remove
                    span.badge #{val.importance}
                    h4.list-group-item-heading #{val.name}
                    p.list-group-item-text #{val.date}
                    
                    
          h3.text-center Total Tasks: #{tasks.length}


block scripts
  script(src="/assets/maker.js")
  
  
